/* html {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
} */

.carousel {
  /* transform: translateY(-50px); */
  height: 800px;
  perspective: 600px;
}
.carousel .carousel-item {
  width: 300px;
}
.carousel .carousel-item img {
  width: 100%;
}
.carousel .carousel-item h3 {
  margin: 0;
  padding: 0;
  background: #fff;
  color: #000;
  box-sizing: border-box;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
.carousel .carousel-item h4 {
  margin: 0;
  padding: 0;
  background: #000;
  color: #fff;
  box-sizing: border-box;
  padding: 10px 5px;
  font-weight: bold;
  font-size: 2em;
  text-align: center;
}
